<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE kiwi [
  <!ENTITY version "15.0">
]>

<image
  name="minikube-openSUSE"
  schemaversion="6.9"
>
  <description type="system">
    <author>Thulio Ferraz Assis</author>
    <contact>tassis@suse.com</contact>
    <specification>A Minikube image based on openSUSE Leap</specification>
  </description>
  <preferences>
    <type
      boottimeout="1"
      firmware="bios"
      flags="overlay"
      image="iso"
      kernelcmdline="net.ifnames=0 swapaccount=1"
      bootloader_console="serial"
      volid="minikube-openSUSE"/>
    <version>0.1.2</version>
    <packagemanager>zypper</packagemanager>
    <locale>en_US</locale>
    <keytable>us</keytable>
    <timezone>America/Vancouver</timezone>
    <rpm-excludedocs>true</rpm-excludedocs>
    <rpm-check-signatures>false</rpm-check-signatures>
  </preferences>
  <users>
    <user
      name="root"
      password="tcuser"
      pwdformat="plain"
      home="/root"
      groups="root"/>
    <user
      name="docker"
      password="tcuser"
      pwdformat="plain"
      home="/home/docker"
      groups="docker"/>
  </users>
  <packages type="image">
    <package name="autofs"/>
    <package name="chrony"/>
    <package name="cronie"/>
    <package name="curl"/>
    <package name="docker"/>
    <package name="dracut-kiwi-live"/>
    <package name="ifplugd"/>
    <package name="iproute2"/>
    <package name="iputils"/>
    <package name="kernel-default"/>
    <package name="less"/>
    <package name="lvm2"/>
    <package name="net-tools"/>
    <package name="nfs-kernel-server"/>
    <package name="parted"/>
    <package name="patterns-openSUSE-base"/>
    <package name="rsync"/>
    <package name="socat"/>
    <package name="squashfs"/>
    <package name="sudo"/>
    <package name="syslinux"/>
    <package name="tar"/>
    <package name="timezone"/>
    <package name="vim"/>
  </packages>
  <packages type="bootstrap">
    <package name="ca-certificates"/>
    <package name="ca-certificates-mozilla"/>
    <package name="cracklib-dict-full"/>
    <package name="filesystem"/>
    <package name="glibc-locale"/>
    <package name="openSUSE-release"/>
    <package name="udev"/>
  </packages>
  <repository
    alias="OSS Updates"
    imageinclude="false"
    type="rpm-md"
  >
    <source path="obs://openSUSE:Leap:&version;:Update/standard"/>
  </repository>
  <repository
    alias="OSS"
    imageinclude="false"
    type="rpm-md"
  >
    <source path="obs://openSUSE:Leap:&version;/standard"/>
  </repository>
</image>
